header{
    background-color: antiquewhite;
}

nav a {
    margin: 0 0 0 15px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}