.main {
    position: relative;
    width: 200px;
    height: 200px;
    top: 400px ;
    left: 400px;
}

.card {
    display: block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    height: 944px;
    width: 400px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
}

.card p {
    top: 200px;
    position: relative;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 50%;
}

footer {
    text-align: center;
}