.logo {
    width: 300px;
    margin: 1em 0;
}

.corpo {
    width: 564px;
    margin: 250px 300px;
}

.btn {
    width: 30%;
    padding: 15px 0;
    background: rgb(105, 105, 189);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.btn:hover {
    background: rgb(199, 75, 75);
    transform: scale(1.1);
}

textarea {
    border: none;
}

.card {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    height: 944px;
    width: 400px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
}

.card > img {
    margin: 5em 0;
}


footer {
    position:absolute;
    margin: 400px 300px;
    text-align: center;
}