.main{
    display: block;
}
.card {
    text-align: center;
    height: 944px;
    width: 400px;
    margin: 0 60%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.card img, p, h2{
    position: relative;
    top: 200px;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 50%;
}


footer {
    text-align: center;
}